<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47999850982-aqda1gjfkl8vjmisdtuiqd2dcg721qb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47999850982-aqda1gjfkl8vjmisdtuiqd2dcg721qb0</string>
	<key>API_KEY</key>
	<string>AIzaSyBG7uj0SHYo6qBjB_aU_79zMNFdaDs5Wgs</string>
	<key>GCM_SENDER_ID</key>
	<string>47999850982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.combosko.genba.restaurantApp</string>
	<key>PROJECT_ID</key>
	<string>restaurantapp-4c6f7</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurantapp-4c6f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47999850982:ios:b731b58780519672119e27</string>
</dict>
</plist>